.about__main p:first-of-type {
  margin-top: 0;
}

.about__photo-container {
  height: 200px;
  width: 200px;
}

.about__photo {
  width: 100%;
}

.about__section {
  max-width: 800px;
}

.about__title {
  margin-bottom: 15px;
}
