@use '../abstracts/mixins' as *;

.button {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-contained {
  @extend .button;
  background-color: var(--color-btn-contained);
  border: 2px solid transparent;
  padding: 0.75rem 1rem;
  transition: background-color linear 200ms, border linear 200ms;

  &:hover,
  &:focus {
    background-color: var(--color-btn-contained-focus);
  }

  &:focus {
    border: 2px solid var(--color-border-btn-focus);
  }
}

.button-delete {
  @extend .button;
  background-color: transparent;
  border: 1px solid transparent;
  transition: border 200ms linear;

  &:focus,
  &:hover {
    border: 1px solid var(--color-border-btn-delete);
  }
}

.button-icon {
  --base-size: 1.5rem;

  height: var(--base-size);
  width: var(--base-size);
}

.button-outline {
  @extend .button;
  background-color: transparent;
  border: 1px solid var(--color-outline-btn);
  padding: 10px;
  transition: transform 200ms linear, border 200ms linear;

  &:hover,
  &:focus {
    border: 1px solid var(--color-outline-btn-focus);
  }

  &:focus {
    transform: scale(1.05);
  }
}

.button-text {
  @extend .button;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 0.5rem;
  transition: border 200ms linear;

  &:hover,
  &:focus {
    border: 1px solid var(--color-border-btn-text);
  }
}

.nav-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--color-text-primary);

  &:hover,
  &:focus {
    background-color: var(--color-bg-header-item);
  }

  &:focus {
    border: 1px dotted var(--color-border-primary);
  }
}

.nav-button__icon {
  height: max(1.5rem, 40px);
  width: max(1.5rem, 40px);
}
