.header-nav-mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 200ms linear;
  z-index: 1;
}

.hidden-mask {
  background-color: rgba(0, 0, 0, 0);
  right: 100%;
}

.header-nav-container {
  background-color: rgb(255, 0, 0);
  max-width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: right 200ms linear;
  width: 90%;
  z-index: 1;
}

.hidden-nav {
  right: -100%;
}
