@use '../abstracts/' as *;

.active-link {
  border-bottom: 1px solid var(--color-border-primary);
}

.header-nav-link {
  display: inline-block;
  opacity: 0.75;
  width: 100%;

  &:focus,
  &:hover {
    opacity: 1;

    & ~ .header-nav-link__border {
      height: 2px;
      width: 100%;
    }
  }
}

.header-nav-link__border {
  background-color: var(--color-border-primary);
  bottom: 0;
  height: 0;
  position: absolute;
  transition: width 200ms linear;
  width: 0;
}

.link {
  color: var(--color-text-primary);

  &:focus {
    outline: 2px dotted var(--color-border-primary);
    outline-offset: 4px;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.skip-link {
  border: 1px solid transparent;
  border-radius: 5px;
  height: max-content;
  padding: 10px;

  &:hover,
  &:focus {
    background-color: var(--color-bg-header-item);
  }

  &:focus {
    border: 1px dotted var(--color-border-primary);
  }
}
