@use '../abstracts/' as *;

.dice {
  transition: width 200ms linear;
  width: 50%;
}

.logo-button {
  background-color: transparent;
  border: none;
  height: 60%;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;

  &:focus {
    outline: 3px dotted var(--color-border-dice-roller);
    outline-offset: 5px;
  }

  &:hover {
    cursor: pointer;

    & .dice {
      width: 60%;
    }
  }
}

.logo-container {
  margin-bottom: 10px;
  max-width: 600px;
  position: relative;
  width: 100%;
}
