@use "../abstracts/" as *;
@use "../themes/" as *;

// run for each theme file in the themes folder
@include generate-theme-mappings("light", $light);
@include generate-theme-mappings("dark", $dark);
