@use '../abstracts/' as *;

/* dark primary: 200 tonal range */
/* dark primary-variant: 500 tonal range */
/* dark secondary: 50-200 tonal range */
/* dark secondary-variant: 50-200 tonal range */

$dark: (
  color-bg-accessibility-bar: branded-dark-surface($purple, 200, 04dp),
  color-bg-alert: branded-dark-surface($purple, 400, 08dp),
  color-bg-base: branded-dark-surface($purple, 400, 00dp),
  color-bg-footer: branded-dark-surface($purple, 900, 04dp),
  color-bg-header: branded-dark-surface($purple, 200, 04dp),
  color-bg-modal: color($neutral, 900, 0.5),
  color-bg-nav-hover: color($purple, 700),
  color-border-btn-focus: color($purple, 100, 0.5),
  color-border-divider: color($yellow, 100, 0.25),
  color-border-input: color($purple, 200, 0.25),
  color-border-input-focus: color($purple, 200),
  color-border-primary: color($yellow, 100),
  color-border-switch: color($neutral, 50, 0.5),
  color-button-contained: branded-dark-surface($purple, 200, 16dp),
  color-button-contained-focus: branded-dark-surface($purple, 600, 08dp),
  color-button-delete: rgb(255, 117, 117),
  color-button-delete-border: rgba(255, 117, 117, 0.6),
  color-button-outline: color($purple, 400, 0.4),
  color-button-outline-focus: color($purple, 400),
  color-button-text: color($neutral, 75),
  color-button-text-border: color($neutral, 50, 0.4),
  color-input-background: branded-dark-surface($purple, 400, 02dp),
  color-link-border: color($neutral, 50, 0.6),
  color-link-hover: color($purple, 200),
  color-link-unvisited: rgb(153, 153, 255),
  color-link-visited: rgb(204, 128, 255),
  color-message-error: rgb(223, 154, 167),
  color-message-info: rgb(144, 202, 249),
  color-message-success: rgb(165, 214, 167),
  color-message-warning: rgb(255, 245, 157),
  color-outline-focus-primary: color($neutral, 50, 0.6),
  color-text-contained-button: color($neutral, 100),
  color-text-inverted: color($neutral, 850),
  color-text-item-warning: rgb(224, 129, 146),
  color-text-logo: color($yellow, 200),
  color-text-msg-error: color($neutral, 900),
  color-text-msg-info: color($neutral, 900),
  color-text-msg-success: color($neutral, 900),
  color-text-msg-warning: color($neutral, 900),
  color-text-primary: color($yellow, 100),
  color-text-primary-disabled: color($neutral, 75, $disabled),
);
