@use '../abstracts/' as *;

.home-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: cards;

  @include at-least(desktop) {
    align-items: stretch;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.home-card {
  background-color: var(--color-bg-home-card);
  display: flex;
  flex-direction: column;
  justify-items: center;

  @include at-least(tablet-portrait) {
    gap: 10px;
    flex-direction: row;
  }

  @include at-least(desktop) {
    flex-direction: column;
  }
}

.home-card__image {
  align-self: center;
}
