@use '../abstracts' as *;

body {
  color: var(--color-text-primary);
  font-family: $base-fonts;
}

.button-contained,
.button-outline,
.button-text {
  color: var(--color-text-primary);
  font-size: 1.125rem;
  text-decoration: none;
}

.button-contained {
  &:focus,
  &:hover {
    color: var(--color-text-btn-contained);
  }
}

.footer-nav-link,
.header-nav-link {
  color: var(--color-text-primary);
}

.footer-nav-link {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.footer__pun {
  opacity: 0.87;
}

.header-nav-link {
  font-size: 1.5rem;
  text-decoration: none;

  @include at-least(tablet-portrait) {
    font-size: 1.125rem;
  }

  @include at-least(tablet-landscape) {
    font-size: 1.5rem;
  }
}

h1 {
  @include at-least(tablet-portrait) {
    font-size: 3.5rem;
  }
}

.home-card__text {
  font-size: 1.125rem;

  @include at-least(desktop) {
    font-size: 1.25rem;
  }
}

.home-info__intro,
.home-card__title,
.home-card__text,
.intro__description {
  text-align: center;
}

.home-info__intro,
.home-card__text,
.intro__description {
  @include at-least(desktop) {
    text-align: left;
  }
}

.intro__description {
  font-size: 1.5rem;

  @include at-least(tablet-landscape) {
    font-size: 2rem;
  }
}

.page__header {
  text-align: center;

  @include at-least(desktop) {
    text-align: left;
  }
}

.skip-link {
  color: var(--color-text-primary);
  text-decoration: none;
}
